---
http_interactions:
- request:
    method: get
    uri: https://login.windows.net/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-responsehealth:
      - TargetId=ESTSFE_IN_412;Action=None;Category=None;Health=0;Load=24;
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"0","expires_on":"1470445681","not_before":"1470441781","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 06 Aug 2016 00:08:02 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38?api-version=2016-02-01
    body:
      encoding: UTF-8
      string: '{"location":"westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38","name":"falling-dust-38","location":"westus","properties":{"provisioningState":"Succeeded"}}'
  recorded_at: Sat, 06 Aug 2016 00:08:03 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample?api-version=2016-02-01
    body:
      encoding: UTF-8
      string: '{"properties":{"template":{"$schema":"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json","contentVersion":"1.0.0.0","parameters":{"adminUserName":{"type":"string","defaultValue":"azureSample","metadata":{"description":"User
        name for the Virtual Machine."}},"sshKeyData":{"type":"string","metadata":{"description":"SSH
        rsa public key file as a string."}},"dnsLabelPrefix":{"type":"string","metadata":{"description":"Unique
        DNS Name for the Public IP used to access the Virtual Machine."}},"vmSize":{"type":"string","defaultValue":"Standard_D1","metadata":{"description":"Size
        of the VM"}},"vmName":{"type":"string","metadata":{"description":"Name of
        the VM"}},"imagePublisher":{"type":"string","defaultValue":"canonical","metadata":{"description":"Name
        of the image publisher"}},"imageOffer":{"type":"string","defaultValue":"ubuntuserver","metadata":{"description":"Name
        of the image offer"}},"imageSku":{"type":"string","defaultValue":"16.04.0-DAILY-LTS","metadata":{"description":"Name
        of the image sku"}},"imageVersion":{"type":"string","defaultValue":"latest","metadata":{"description":"Name
        of the image sku"}},"subnetName":{"type":"string","defaultValue":"azsample-subnet","metadata":{"description":"Name
        of the subnet"}},"virtualNetworkName":{"type":"string","defaultValue":"azsampleVNET","metadata":{"description":"Name
        of the virtual network"}}},"variables":{"storageAccountName":"[concat(uniquestring(resourceGroup().id),
        ''azsample'')]","location":"[resourceGroup().location]","osDiskName":"osDisk1","addressPrefix":"10.0.0.0/16","subnetPrefix":"10.0.0.0/24","vmStorageAccountContainerName":"azsample-vhds","nicName":"[concat(parameters(''vmName''),
        ''-azsampleNIC'')]","publicIPAddressName":"[concat(parameters(''vmName''),
        ''-azsamplePublicIP'')]","publicIPAddressType":"Dynamic","storageAccountType":"Standard_LRS","networkSecurityGroupName":"[concat(parameters(''vmName''),
        ''-azsampleNSG'')]","sshKeyPath":"[concat(''/home/'',parameters(''adminUsername''),''/.ssh/authorized_keys'')]","vnetID":"[resourceId(''Microsoft.Network/virtualNetworks'',
        parameters(''virtualNetworkName''))]","subnetRef":"[concat(variables(''vnetID''),''/subnets/'',parameters(''subnetName''))]","apiVersion":"2015-06-15"},"resources":[{"type":"Microsoft.Storage/storageAccounts","name":"[variables(''storageAccountName'')]","apiVersion":"[variables(''apiVersion'')]","location":"[variables(''location'')]","properties":{"accountType":"[variables(''storageAccountType'')]"}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/networkSecurityGroups","name":"[variables(''networkSecurityGroupName'')]","location":"[variables(''location'')]","properties":{"securityRules":[{"name":"ssh_rule","properties":{"description":"Locks
        inbound down to ssh default port 22.","protocol":"Tcp","sourcePortRange":"*","destinationPortRange":"22","sourceAddressPrefix":"*","destinationAddressPrefix":"*","access":"Allow","priority":123,"direction":"Inbound"}}]}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/publicIPAddresses","name":"[variables(''publicIPAddressName'')]","location":"[variables(''location'')]","properties":{"publicIPAllocationMethod":"[variables(''publicIPAddressType'')]","dnsSettings":{"domainNameLabel":"[parameters(''dnsLabelPrefix'')]"}}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/virtualNetworks","name":"[parameters(''virtualNetworkName'')]","location":"[variables(''location'')]","dependsOn":["[concat(''Microsoft.Network/networkSecurityGroups/'',
        variables(''networkSecurityGroupName''))]"],"properties":{"addressSpace":{"addressPrefixes":["[variables(''addressPrefix'')]"]},"subnets":[{"name":"[parameters(''subnetName'')]","properties":{"addressPrefix":"[variables(''subnetPrefix'')]","networkSecurityGroup":{"id":"[resourceId(''Microsoft.Network/networkSecurityGroups'',
        variables(''networkSecurityGroupName''))]"}}}]}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/networkInterfaces","name":"[variables(''nicName'')]","location":"[variables(''location'')]","dependsOn":["[concat(''Microsoft.Network/publicIPAddresses/'',
        variables(''publicIPAddressName''))]","[concat(''Microsoft.Network/virtualNetworks/'',
        parameters(''virtualNetworkName''))]"],"properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"[resourceId(''Microsoft.Network/publicIPAddresses'',
        variables(''publicIPAddressName''))]"},"subnet":{"id":"[variables(''subnetRef'')]"}}}]}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Compute/virtualMachines","name":"[parameters(''vmName'')]","location":"[variables(''location'')]","dependsOn":["[concat(''Microsoft.Storage/storageAccounts/'',
        variables(''storageAccountName''))]","[concat(''Microsoft.Network/networkInterfaces/'',
        variables(''nicName''))]"],"properties":{"hardwareProfile":{"vmSize":"[parameters(''vmSize'')]"},"osProfile":{"computerName":"[parameters(''vmName'')]","adminUsername":"[parameters(''adminUsername'')]","linuxConfiguration":{"disablePasswordAuthentication":"true","ssh":{"publicKeys":[{"path":"[variables(''sshKeyPath'')]","keyData":"[parameters(''sshKeyData'')]"}]}}},"storageProfile":{"imageReference":{"publisher":"[parameters(''imagePublisher'')]","offer":"[parameters(''imageOffer'')]","sku":"[parameters(''imageSku'')]","version":"latest"},"osDisk":{"name":"osdisk","vhd":{"uri":"[concat(''http://'',variables(''storageAccountName''),''.blob.core.windows.net/'',variables(''vmStorageAccountContainerName''),''/'',
        variables(''osDiskName''),''.vhd'')]"},"caching":"ReadWrite","createOption":"FromImage"}},"networkProfile":{"networkInterfaces":[{"id":"[resourceId(''Microsoft.Network/networkInterfaces'',
        variables(''nicName''))]"}]},"diagnosticsProfile":{"bootDiagnostics":{"enabled":"true","storageUri":"[concat(''http://'',variables(''storageAccountName''),''.blob.core.windows.net'')]"}}}}]},"parameters":{"dnsLabelPrefix":{"value":"throbbing-shape-31"},"vmName":{"value":"azure-deployment-sample-vm"},"sshKeyData":{"value":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDSViFh3+poQVA4uZLsAD+CrNivmtgwXgrljZphFMpjxK+o9oIQBdH0ES7iqxCYr4hDQzDljqEGm3/Xqczjmu6Wr1dfJC0/AZEq42HX3nVsU/NgdEantm/EilG0ufO0oFjo7nzyj4RrcxO6l4MFzMZiicVA5PtLYLiUVWmjurfwnxOFQlwamDPzsvh/bbB4PK0jYU6aTkdIH8fzUR/ZbohhJABMoSEGcFbXdvAR0M3b74K0L0Xf8cExlr815aZrbe72EJ1fa6bPslb28UXgKOVl2R5QJo9zVX4JjC28UymU1edfeyqPRtIbsDBg88RuFaa0FgIQePLyboKW0YEdjiov
        david@devigned.com\n"}},"mode":"Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample/operationStatuses/08587311648012550953?api-version=2016-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample","name":"azure-sample","properties":{"paramet[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample/operationStatuses/08587311648012550953?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14994'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Running"}'
  recorded_at: Sat, 06 Aug 2016 00:08:34 GMT
[...]
- request:
    method: delete
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: 
    headers:
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1GQUxMSU5HOjJERFVTVDoyRDM4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01
      retry-after: '1'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Aug 2016 00:10:36 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1GQUxMSU5HOjJERFVTVDoyRDM4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-ratelimit-remaining-subscription-reads:
      - '14978'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Aug 2016 00:17:10 GMT
recorded_with: VCR 3.0.1
