---
http_interactions:
- request:
    method: get
    uri: https://login.microsoftonline.com/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"0","expires_on":"1503603336","not_before":"1503599436","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 24 Aug 2017 18:35:35 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38?api-version=2017-05-10
    body:
      encoding: UTF-8
      string: '{"location":"westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38","name":"falling-dust-38","location":"westus","properties":{"provisioningState":"Succeeded"}}'
  recorded_at: Thu, 24 Aug 2017 18:35:36 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample?api-version=2017-05-10
    body:
      encoding: UTF-8
      string: '{"properties":{"template":{"$schema":"http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json","contentVersion":"1.0.0.0","parameters":{"adminUserName":{"type":"string","defaultValue":"azureSample","metadata":{"description":"User
        name for the Virtual Machine."}},"sshKeyData":{"type":"string","metadata":{"description":"SSH
        rsa public key file as a string."}},"dnsLabelPrefix":{"type":"string","metadata":{"description":"Unique
        DNS Name for the Public IP used to access the Virtual Machine."}},"vmSize":{"type":"string","defaultValue":"Standard_D2","metadata":{"description":"Size
        of the VM"}},"vmName":{"type":"string","metadata":{"description":"Name of
        the VM"}},"imagePublisher":{"type":"string","defaultValue":"canonical","metadata":{"description":"Name
        of the image publisher"}},"imageOffer":{"type":"string","defaultValue":"ubuntuserver","metadata":{"description":"Name
        of the image offer"}},"imageSku":{"type":"string","defaultValue":"16.04.0-LTS","metadata":{"description":"Name
        of the image sku"}},"imageVersion":{"type":"string","defaultValue":"latest","metadata":{"description":"Name
        of the image sku"}},"subnetName":{"type":"string","defaultValue":"azsample-subnet","metadata":{"description":"Name
        of the subnet"}},"virtualNetworkName":{"type":"string","defaultValue":"azsampleVNET","metadata":{"description":"Name
        of the virtual network"}}},"variables":{"storageAccountName":"[concat(uniquestring(resourceGroup().id),
        ''azsample'')]","location":"[resourceGroup().location]","osDiskName":"osDisk1","addressPrefix":"10.0.0.0/16","subnetPrefix":"10.0.0.0/24","vmStorageAccountContainerName":"azsample-vhds","nicName":"[concat(parameters(''vmName''),
        ''-azsampleNIC'')]","publicIPAddressName":"[concat(parameters(''vmName''),
        ''-azsamplePublicIP'')]","publicIPAddressType":"Dynamic","storageAccountType":"Standard_LRS","networkSecurityGroupName":"[concat(parameters(''vmName''),
        ''-azsampleNSG'')]","sshKeyPath":"[concat(''/home/'',parameters(''adminUsername''),''/.ssh/authorized_keys'')]","vnetID":"[resourceId(''Microsoft.Network/virtualNetworks'',
        parameters(''virtualNetworkName''))]","subnetRef":"[concat(variables(''vnetID''),''/subnets/'',parameters(''subnetName''))]","apiVersion":"2015-06-15"},"resources":[{"type":"Microsoft.Storage/storageAccounts","name":"[variables(''storageAccountName'')]","apiVersion":"[variables(''apiVersion'')]","location":"[variables(''location'')]","properties":{"accountType":"[variables(''storageAccountType'')]"}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/networkSecurityGroups","name":"[variables(''networkSecurityGroupName'')]","location":"[variables(''location'')]","properties":{"securityRules":[{"name":"ssh_rule","properties":{"description":"Locks
        inbound down to ssh default port 22.","protocol":"Tcp","sourcePortRange":"*","destinationPortRange":"22","sourceAddressPrefix":"*","destinationAddressPrefix":"*","access":"Allow","priority":123,"direction":"Inbound"}}]}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/publicIPAddresses","name":"[variables(''publicIPAddressName'')]","location":"[variables(''location'')]","properties":{"publicIPAllocationMethod":"[variables(''publicIPAddressType'')]","dnsSettings":{"domainNameLabel":"[parameters(''dnsLabelPrefix'')]"}}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/virtualNetworks","name":"[parameters(''virtualNetworkName'')]","location":"[variables(''location'')]","dependsOn":["[concat(''Microsoft.Network/networkSecurityGroups/'',
        variables(''networkSecurityGroupName''))]"],"properties":{"addressSpace":{"addressPrefixes":["[variables(''addressPrefix'')]"]},"subnets":[{"name":"[parameters(''subnetName'')]","properties":{"addressPrefix":"[variables(''subnetPrefix'')]","networkSecurityGroup":{"id":"[resourceId(''Microsoft.Network/networkSecurityGroups'',
        variables(''networkSecurityGroupName''))]"}}}]}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Network/networkInterfaces","name":"[variables(''nicName'')]","location":"[variables(''location'')]","dependsOn":["[concat(''Microsoft.Network/publicIPAddresses/'',
        variables(''publicIPAddressName''))]","[concat(''Microsoft.Network/virtualNetworks/'',
        parameters(''virtualNetworkName''))]"],"properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"[resourceId(''Microsoft.Network/publicIPAddresses'',
        variables(''publicIPAddressName''))]"},"subnet":{"id":"[variables(''subnetRef'')]"}}}]}},{"apiVersion":"[variables(''apiVersion'')]","type":"Microsoft.Compute/virtualMachines","name":"[parameters(''vmName'')]","location":"[variables(''location'')]","dependsOn":["[concat(''Microsoft.Storage/storageAccounts/'',
        variables(''storageAccountName''))]","[concat(''Microsoft.Network/networkInterfaces/'',
        variables(''nicName''))]"],"properties":{"hardwareProfile":{"vmSize":"[parameters(''vmSize'')]"},"osProfile":{"computerName":"[parameters(''vmName'')]","adminUsername":"[parameters(''adminUsername'')]","linuxConfiguration":{"disablePasswordAuthentication":"true","ssh":{"publicKeys":[{"path":"[variables(''sshKeyPath'')]","keyData":"[parameters(''sshKeyData'')]"}]}}},"storageProfile":{"imageReference":{"publisher":"[parameters(''imagePublisher'')]","offer":"[parameters(''imageOffer'')]","sku":"[parameters(''imageSku'')]","version":"latest"},"osDisk":{"name":"osdisk","vhd":{"uri":"[concat(''http://'',variables(''storageAccountName''),''.blob.core.windows.net/'',variables(''vmStorageAccountContainerName''),''/'',
        variables(''osDiskName''),''.vhd'')]"},"caching":"ReadWrite","createOption":"FromImage"}},"networkProfile":{"networkInterfaces":[{"id":"[resourceId(''Microsoft.Network/networkInterfaces'',
        variables(''nicName''))]"}]},"diagnosticsProfile":{"bootDiagnostics":{"enabled":"true","storageUri":"[concat(''http://'',variables(''storageAccountName''),''.blob.core.windows.net'')]"}}}}]},"parameters":{"dnsLabelPrefix":{"value":"dawn-cloud-88"},"vmName":{"value":"azure-deployment-sample-vm"},"sshKeyData":{"value":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDSViFh3+poQVA4uZLsAD+CrNivmtgwXgrljZphFMpjxK+o9oIQBdH0ES7iqxCYr4hDQzDljqEGm3/Xqczjmu6Wr1dfJC0/AZEq42HX3nVsU/NgdEantm/EilG0ufO0oFjo7nzyj4RrcxO6l4MFzMZiicVA5PtLYLiUVWmjurfwnxOFQlwamDPzsvh/bbB4PK0jYU6aTkdIH8fzUR/ZbohhJABMoSEGcFbXdvAR0M3b74K0L0Xf8cExlr815aZrbe72EJ1fa6bPslb28UXgKOVl2R5QJo9zVX4JjC28UymU1edfeyqPRtIbsDBg88RuFaa0FgIQePLyboKW0YEdjiov
        david@devigned.com\n"}},"mode":"Incremental","debugSetting":{"detailLevel":"requestContent,
        responseContent"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample/operationStatuses/08586980071471246318?api-version=2017-05-10
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample","name":"azure-sample","properties":{"templateHash":"4795824865184712663","parameters":{"adminUserName":{"type":"String","value":"azureSample"},"sshKeyData":{"type":"String","value":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDSViFh3+poQVA4uZLsAD+CrNivmtgwXgrljZphFMpjxK+o9oIQBdH0ES7iqxCYr4hDQzDljqEGm3/Xqczjmu6Wr1dfJC0/AZEq42HX3nVsU/NgdEantm/EilG0ufO0oFjo7nzyj4RrcxO6l4MFzMZiicVA5PtLYLiUVWmjurfwnxOFQlwamDPzsvh/bbB4PK0jYU6aTkdIH8fzUR/ZbohhJABMoSEGcFbXdvAR0M3b74K0L0Xf8cExlr815aZrbe72EJ1fa6bPslb28UXgKOVl2R5QJo9zVX4JjC28UymU1edfeyqPRtIbsDBg88RuFaa0FgIQePLyboKW0YEdjiov
        david@devigned.com\n"},"dnsLabelPrefix":{"type":"String","value":"dawn-cloud-88"},"vmSize":{"type":"String","value":"Standard_D2"},"vmName":{"type":"String","value":"azure-deployment-sample-vm"},"imagePublisher":{"type":"String","value":"canonical"},"imageOffer":{"type":"String","value":"ubuntuserver"},"imageSku":{"type":"String","value":"16.04.0-LTS"},"imageVersion":{"type":"String","value":"latest"},"subnetName":{"type":"String","value":"azsample-subnet"},"virtualNetworkName":{"type":"String","value":"azsampleVNET"}},"mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
        ResponseContent"},"provisioningState":"Accepted","timestamp":"2017-08-24T18:35:38.8307905Z","duration":"PT0.4777765S","correlationId":"8ea428f3-6035-4ecb-ad2c-21092b51f473","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Network/networkSecurityGroups/azure-deployment-sample-vm-azsampleNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"azure-deployment-sample-vm-azsampleNSG"}],"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Network/virtualNetworks/azsampleVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"azsampleVNET"},{"dependsOn":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Network/publicIPAddresses/azure-deployment-sample-vm-azsamplePublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resou[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample/operationStatuses/08586980071471246318?api-version=2017-05-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14998'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Running"}'
  recorded_at: Thu, 24 Aug 2017 18:36:08 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38/deployments/azure-sample/operations?api-version=2017-05-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14990'
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Resources/deployments/azure-sample/operations/D4BD66FC3C23D09D","operationId":"D4BD66FC3C23D09D","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2017-08-24T18:37:54.8394798Z","duration":"PT1M39.4273875S","trackingId":"9403936b-e153-412b-a58d-2792ecd37338","serviceRequestId":"219dc38f-57a4-4827-be04-ed83d1cd6930","statusCode":"OK","targetResource":{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Compute/virtualMachines/azure-deployment-sample-vm","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"azure-deployment-sample-vm"},"request":{"content":{"location":"westus","properties":{"hardwareProfile":{"vmSize":"Standard_D2"},"osProfile":{"computerName":"azure-deployment-sample-vm","adminUsername":"azureSample","linuxConfiguration":{"disablePasswordAuthentication":"true","ssh":{"publicKeys":[{"path":"/home/azureSample/.ssh/authorized_keys","keyData":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDSViFh3+poQVA4uZLsAD+CrNivmtgwXgrljZphFMpjxK+o9oIQBdH0ES7iqxCYr4hDQzDljqEGm3/Xqczjmu6Wr1dfJC0/AZEq42HX3nVsU/NgdEantm/EilG0ufO0oFjo7nzyj4RrcxO6l4MFzMZiicVA5PtLYLiUVWmjurfwnxOFQlwamDPzsvh/bbB4PK0jYU6aTkdIH8fzUR/ZbohhJABMoSEGcFbXdvAR0M3b74K0L0Xf8cExlr815aZrbe72EJ1fa6bPslb28UXgKOVl2R5QJo9zVX4JjC28UymU1edfeyqPRtIbsDBg88RuFaa0FgIQePLyboKW0YEdjiov
        david@devigned.com\n"}]}}},"storageProfile":{"imageReference":{"publisher":"canonical","offer":"ubuntuserver","sku":"16.04.0-LTS","version":"latest"},"osDisk":{"name":"osdisk","vhd":{"uri":"http://xo3bmzhsgipk2azsample.blob.core.windows.net/azsample-vhds/osDisk1.vhd"},"caching":"ReadWrite","createOption":"FromImage"}},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Network/networkInterfaces/azure-deployment-sample-vm-azsampleNIC"}]},"diagnosticsProfile":{"bootDiagnostics":{"enabled":"true","storageUri":"http://xo3bmzhsgipk2azsample.blob.core.windows.net"}}}}},"response":{"content":{"properties":{"vmId":"d8a12f40-098c-49ab-bd01-d9f67347c641","hardwareProfile":{"vmSize":"Standard_D2"},"storageProfile":{"imageReference":{"publisher":"canonical","offer":"ubuntuserver","sku":"16.04.0-LTS","version":"latest"},"osDisk":{"osType":"Linux","name":"osdisk","createOption":"FromImage","vhd":{"uri":"http://xo3bmzhsgipk2azsample.blob.core.windows.net/azsample-vhds/osDisk1.vhd"},"caching":"ReadWrite","diskSizeGB":29},"dataDisks":[]},"osProfile":{"computerName":"azure-deployment-sample-vm","adminUsername":"azureSample","linuxConfiguration":{"disablePasswordAuthentication":true,"ssh":{"publicKeys":[{"path":"/home/azureSample/.ssh/authorized_keys","keyData":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDSViFh3+poQVA4uZLsAD+CrNivmtgwXgrljZphFMpjxK+o9oIQBdH0ES7iqxCYr4hDQzDljqEGm3/Xqczjmu6Wr1dfJC0/AZEq42HX3nVsU/NgdEantm/EilG0ufO0oFjo7nzyj4RrcxO6l4MFzMZiicVA5PtLYLiUVWmjurfwnxOFQlwamDPzsvh/bbB4PK0jYU6aTkdIH8fzUR/ZbohhJABMoSEGcFbXdvAR0M3b74K0L0Xf8cExlr815aZrbe72EJ1fa6bPslb28UXgKOVl2R5QJo9zVX4JjC28UymU1edfeyqPRtIbsDBg88RuFaa0FgIQePLyboKW0YEdjiov
        david@devigned.com\n"}]}},"secrets":[]},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dust-38/providers/Microsoft.Network/networkInterfaces/azure-deployment-sample-vm-azsampleNIC"}]},"diagnosticsProfile":{"bootDiagnostics":{"enabled":true,"storageUri":"http://xo3bmzhsgipk2azsample.blob.core.windows.net"}},"provisioningState":"Succeeded"},"type":"Microsoft.Compute/virtualMachines","location":"westus","id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/falling-dus[...]
- request:
    method: delete
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/falling-dust-38?api-version=2017-05-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 202
      message: 
    headers:
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1GQUxMSU5HOjJERFVTVDoyRDM4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10
      retry-after: '1'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Aug 2017 18:38:11 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1GQUxMSU5HOjJERFVTVDoyRDM4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-ratelimit-remaining-subscription-reads:
      - '14997'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Aug 2017 18:43:14 GMT
recorded_with: VCR 3.0.3
